<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
    @{
        //采用MVC渐进式Ajax 
        AjaxOptions ajaxopts = new AjaxOptions
        {
            UpdateTargetId = "tableBody",
            Url = Url.Action("Count","Product"),
            LoadingElementId = "loading",
            LoadingElementDuration = 1000
        };
    }
</head>
<body>
    <div class="navbar navbar-inverse " role="navigation">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">Sport Store</span>
            <span class="visible-xs">Sport</span>
            <span class="visible-xs">Store</span>
        </a>
        @Html.Action("Summary", "Cart")
    </div>
    <div class="visible-xs">
        @Html.Action("Menu", "Nav",new { horizontalLayout = true})
    </div>
    <div class="row panel">     
        <div id="categories" class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>

    <div class="row panel-footer ">
        <div id="tableBody" class="col-lg-3"></div>
        <div id="loading" class="load col-lg-2" style="display:none">
            <p>Loading Data...</p>
        </div>
        <div class="col-lg-3">
            @using (Ajax.BeginForm(ajaxopts))
            {
                <input type="submit" value="计算(Ajax)" class="btn btn-default " />
            }
        </div>
    </div>
    
</body>
</html>
